.formPost {
width: 300px;
 padding: 9px;
 border: 10px solid #E5E5E5;
 border-radius: 5px;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 background: #FFF url('bg.jpg') center top repeat-x;
}
.myPost {
	width: 800px;
 padding: 9px;
 border: 10px solid #E5E5E5;
 border-radius: 5px;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

 .imgPost {
   padding: 0 20px 0 0;
  flex: 0 1 auto;

  }